* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    }

    body {
        background-color: #eeeeee;
        margin: auto;
    }

    header {
        width: 1000px;
        margin: auto;
    }

.logo {
    margin: 30px 2px;
font-size: 30px;
font-weight: 600;
    }

nav {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    margin: 20px 0;
    box-shadow: 2px 2px 2px 0px #d2d2d2;
}

nav a {
    text-decoration: none;
    color: #393939;
}


 .grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    width: 1000px;
    margin: auto;
  
  }
  .grid {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 2px 2px 2px 0px #d2d2d2;
  }
  
.login {
    font-size: 18px;
    margin: 4px;
}
  .box-2 {
   grid-row: span 2;  
  }
  
  .copyright {
    margin-top: 1.5rem;
    text-align: center;
    color:#818181;
    font-size: 12px;
  }

@media  (max-width: 480px) {

    header {
        width: 100%;
        margin: 0 10px;
    }
    nav {
        display: grid;    
        grid-template-columns: 1fr; 
        align-items: center;
        justify-content: flex-start;
        width: 100%;   
        padding: 0;
        margin: 0;
        gap: 0;
  }

 nav a {
    color: #50cbf1;
    text-decoration: underline;
    border-bottom: 1px solid #f6f6f6;
    padding: 15px;
    font-weight: 600;

}
.grid-container {
    grid-template-columns: 1fr;
    width: auto;
    margin: 20px 10px;
}
  
  .box-2 {
   grid-row: span 1;  
  }
  .box-3 {
    display: none;
  }
} 