* {
    box-sizing: border-box;
    }
    
    body {
        background: #f8fafc;
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 400;
          }

          header {
            background-color: white;
            border-bottom: 1px solid #80808033;
            padding: 0 20px;
            margin-bottom: 30px;
            box-shadow: 0px 5px 10px -3px #b2b2b2;
        }

.logo {
    font-size: 20px;
    font-weight: 700;
}

.logo span {
    color: #645cff;
        }
         
.head {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 60px;
    padding: 0 10px
}
        
.left-group {
display: flex; 
 align-items: center; 
}

.right-group {
    display: flex; 
    gap: 15px;
}


.container {
display: flex;
justify-content: center;
align-items: center;
flex-basis: 800px;
padding-top: 40px;
}  

.list {
    padding-top: 10px; 
}

.tasks {
    background-color: white;
    text-align: center;
    padding: 0 40px 0 40px;
    box-shadow: 0px 5px 10px -3px  #b2b2b2;
    border-radius: 2px;
    width: 500px;
}

h3 {
    font-weight: 500;
}

#list-input {
    border: 1px solid #ebebeb;
    border-radius: 4px 0 0 4px;
background-color: #f8fafc;
padding: 5px 8px;
width: 300px;
}

::placeholder {
color: #a0a8bb;
}

button {
    color: white;
    background-color: #645cff;
    border: 1px solid #645cff;
    border-radius: 0 4px 4px 0;
    border: none;
    padding: 6px;
    font-size: 13px;
    width: 120px;
    margin-left:-5px;
}

.error-message {
    color: #b30101;
    font-size: 8px;
    font-weight: 500;
    text-align: left;
    margin: 5px 0 25px 0;
  }

.list-item {
display: flex;
justify-content: space-between;
align-items: center;
font-weight: 500;
}

.list-icons i {
    margin: 0 5px;
}

.item {
    text-decoration: line-through;
}

.fa-circle-check {
    margin-right: 15px;
}

.check {
    display: flex;
    align-items: center;

}

.check-align {
padding: 0 40px 0 15px;
}