* {
    box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    letter-spacing: 1px; 
}

h4 {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

.title {
    background: #5a6438;
    color: white;
padding: 20px;
text-align: center;
text-transform: uppercase;
margin-bottom: 20px;
font-size: 14px;
font-weight: 700;
}

table {
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;
    margin-bottom: 50px;
}
main {
    margin: 50px;
}

th {
    font-weight: 700;
    padding: 10px 10px 8px 20px;
    text-align: left;
}

td {
    padding: 20px;
    width: 20%;
}

tr:nth-child(even) {
    background: #efefef;
}

td:nth-child(3) {
    text-align: center;
}

.inverted tr:nth-child(odd) {
    background: #efefef;
}
.inverted tr:nth-child(even) {
    background: #ffffff;
}

.inverted {
margin-bottom: 0;
}

.inverted th {
    font-weight: 700;
    text-align: left;
    padding: 40px 20px 8px 20px;
    width: 20%;
}

 p {
color: #5a6438;
font-size: 14px;
font-weight: 700;
padding: 60px 0 0 0;
 }
