<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
   <!-- 1st  -->
    <div class="container">
<div class="smaller-box"></div>
<div class="bigger-box"></div>
<div class="bigger-box"></div>
<div class="smaller-box"></div>
<div class="smaller-box"></div>
<div class="bigger-box"></div>
   </div>  
   <!-- 2nd  -->
    <div class="container">
<div class="smaller-box"></div>
<div class="bigger-box vertical"></div>
<div class="smaller-box"></div>
<div class="bigger-box vertical"></div>
<div class="smaller-box"></div>
<div class="bigger-box vertical"></div>
   </div> 
      <!-- 3d  -->
   <div class="container">
      <div class="smaller-box quadriple"></div>
      <div class="up">
      <div class="smaller-box"></div>
      <div class="smaller-box"></div>
      </div>
      <div class="smaller-box"></div>
      <div class="smaller-box"></div>
      <div class="smaller-box"></div>
         </div>
      <!-- 4th  -->
   <div class="container">
<div class="smaller-box two"></div>
<div class="smaller-box one"></div>
<div class="smaller-box two"></div>
<div class="smaller-box"></div>
<div class="bigger-box vertical four"></div>
<div class="smaller-box"></div>
<div class="smaller-box two"></div>
<div class="smaller-box one"></div>
<div class="smaller-box two"></div>
   </div> 
</body>
</html>